# files ext
*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.psd
*.pdf
*.doc
*.docx
*.txt
*.text
*.log
*.config
*.xml
*.tbk

# dirs & files
/bower_components/
/node_modules/
/nbproject/
/cache/
/phpMyAdmin-*
/timthumb_cache/
/webstat/
/.idea/
/.csscomb.json
/.htaccess
/sitemap*.xml
/sftp-config.json
/robots.txt
/bower.json
/.bowerrc

test*.php
.httpauth-disable
.htsecure

# ai-bolit
ai-bolit.php
.aurlignore
.aignore
.adirignore
AI-BOLIT-*

# core
bitrix/*
!bitrix/license_key.php
!bitrix/templates/
bitrix/components/
bitrix/components/bitrix/
!bitrix/php_interface/
bitrix/php_interface/dbconn.php
upload/
bitrix/templates/landing24/
bitrix/templates/learning/
modules/aspro.max/
managed_cache/
vendor/
backup/


bitrix/php_interface/include/dompdf/
bitrix/php_interface/include/sale_payment/
bitrix/php_interface/include/catalog_export/
bitrix/php_interface/include/catalog_import/
bitrix/php_interface/include/geo/
bitrix/php_interface/include/lk/
bitrix/php_interface/include/order/
bitrix/php_interface/include/sale_export/
bitrix/php_interface/include/sale_delivery/
bitrix/php_interface/include/delivery_restriction/
bitrix/php_interface/include/kda.exportexcel/
bitrix/php_interface/include/kda.importexcel/
.vscode/sftp.json
local/import/last-import.txt
local/catalog/delay_modify_products.txt
bitrix/templates/dm/.verstka/
*.zip
bitrix/templates/dm/images/jquery.uniform/sprite.psd
