/* AJAX CUSTOM PRELOADER */
#win8_wrapper{
    display: none;
    background: #fff;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.windows8 {
    /*position: relative;
    width: 50px;
    height:50px;
    margin:auto;*/
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.windows8 .wBall {
    position: absolute;
    width: 47px;
    height: 47px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 3.3225s infinite;
    -o-animation: orbit 3.3225s infinite;
    -ms-animation: orbit 3.3225s infinite;
    -webkit-animation: orbit 3.3225s infinite;
    -moz-animation: orbit 3.3225s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(0,155,154);
    left:0px;
    top:0px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.windows8 #wBall_1 {
    animation-delay: 0.726s;
    -o-animation-delay: 0.726s;
    -ms-animation-delay: 0.726s;
    -webkit-animation-delay: 0.726s;
    -moz-animation-delay: 0.726s;
}

.windows8 #wBall_2 {
    animation-delay: 0.143s;
    -o-animation-delay: 0.143s;
    -ms-animation-delay: 0.143s;
    -webkit-animation-delay: 0.143s;
    -moz-animation-delay: 0.143s;
}

.windows8 #wBall_3 {
    animation-delay: 0.2865s;
    -o-animation-delay: 0.2865s;
    -ms-animation-delay: 0.2865s;
    -webkit-animation-delay: 0.2865s;
    -moz-animation-delay: 0.2865s;
}

.windows8 #wBall_4 {
    animation-delay: 0.4295s;
    -o-animation-delay: 0.4295s;
    -ms-animation-delay: 0.4295s;
    -webkit-animation-delay: 0.4295s;
    -moz-animation-delay: 0.4295s;
}

.windows8 #wBall_5 {
    animation-delay: 0.583s;
    -o-animation-delay: 0.583s;
    -ms-animation-delay: 0.583s;
    -webkit-animation-delay: 0.583s;
    -moz-animation-delay: 0.583s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}
/* AJAX CUSTOM PRELOADER END */

:root {
    --Black: #333;
}
.service_catalog .bx-filter.bx-blue .bx-filter-section {
    background: #fff0;
    padding: 26px 0px;
}
.service_catalog img {
    border: 0;
    width: 100%;
}
.service_catalog .gallery .img_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

}
.row-flex {
    display: flex;
    justify-content: space-between;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 660px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.detail_page .main_block{
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(119, 119, 119, 0.12);
    padding: 24px;
    margin-right: 20px;
    background: #fff;
}
.detail_page .right_block{
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(119, 119, 119, 0.12);
    padding: 24px;

}
.detail_page .nopadding{
    padding: 0;
}
.detail_page .main_block .bx-title{
    color: var(--Black, #333);
    /* H2 Bol 28 */
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.21px;
}
.detail_page .main_block .top_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detail_page .main_block .top_title .favorite span {
    color: var(--Black, #333);
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;
    padding-right: 34px;
    cursor: pointer;
}
.detail_page .main_block .top_title .favorite span:after {
    content: "";
    background-image: url("../images/icons/favorite.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;

    border-radius: 27px;
    width: 30px;
    height:30px;
    top: -5px;
    right: 0px;
    transition: 0.5s;
    position: absolute;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    background-repeat: no-repeat;
}
.detail_page .main_block .top_title .favorite span:hover:after, .detail_page .main_block .top_title .favorite span.active_d:after{
    content: '';
    background-image: url("../images/icons/favorite_hover.svg") ;
    background-color: #F5F5F5;
}
#want {
    display: flex;
}
.favorit_top{
    display: flex;
    align-items: center;
    height: 46px;
    margin: 3px 20px 0;
}

.topfix svg .clsw-1 {
    fill: #999;
    fill-rule: evenodd;
}
.topfix:hover svg .clsw-1 {
    fill: #00afae;
    fill-rule: evenodd;
}
.topfix .favorit_top .col {
    background: #00afae;
    padding: 0px 6px;
    border-radius: 100%;
    height: 18px;
    width: 20px;
    margin-left: 3px;
    color: #fff;
    font-size: 12px;
    /* font-weight: 200; */
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.top_menu .col{
    margin-left: 5px;
    color: #ffffff;
    font-size: 12px;
}
.detail_page .main_block .address div {
    color: var(--Black, #333);
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;
    padding-left: 28px;
    margin-bottom: 5px;
}
.detail_page .main_block .address div:before {
    content: "";
    background-image: url("../images/icons/location.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height:20px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.detail_page .main_block .map{
    margin-top: 7px;
    margin-bottom: 24px;
}
.detail_page .main_block .map a {
    color: #009B9A;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}
.main_block .vote .count_rating {
    color: #9d9a9a;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.main_block .vote .count_reviews {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.main_block .vote {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}
.main_block .vote .rating, .main_block .vote .count_rating {
    margin-right: 8px;
}
.fast_answer div{
    position: relative;
    color: #FF773C;
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-left: 28px;
}
.fast_answer div:before {
    content: "";
    background-image: url("../images/icons/mail.svg");
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: -3px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
/*.fast_answer div:hover{*/
/*    color: #ed6f38;*/
/*}*/
.advert {
    display: flex;
    align-items: center;
}
.fast_answer{
    margin-right: 12px;
}
.fast_travel{
    margin-right: 12px;
    position: relative;
    color: #FF773C;
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-left: 28px;
}
.fast_travel:before {
    content: "";
    background-image: url("../images/icons/fast_travel.svg");
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: -3px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.hit{
    margin-right: 12px;
    position: relative;
    color: #FF773C;
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-left: 28px;
}
.hit:before {
    content: "";
    background-image: url("../images/icons/earnings.svg");
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: -3px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.modal-header{
    text-align: center;
    color: var(--Black, #333);
    /* H3 Bol 24 */
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}
#fast_answer .form_head, #more_information .form_head{
    display:none;
}
.fancybox-container .fancybox-bg, .fancybox-container .fancybox-button {
    background: rgb(30, 30, 30);
    opacity: 0.9;
}
.main_block .gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 24px 0;
}

.main_block .gallery a, .main_block .gallery div{
    margin-right: 8px;
    margin-bottom: 8px;
}.main_block .gallery a:nth-child(7n), .main_block .gallery div{
     margin-right: 0px;
 }
.main_block .gallery .show_con span{
    display: block!important;

}
.main_block .gallery div{
    position: relative;
    cursor: pointer;
}
.main_block .gallery .show_con:after {
    content: '';
    background: rgb(0 0 0 / 40%);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.main_block .gallery div span {
    z-index: 2;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0 20%;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 20%;
}
.main_block .gallery #hide{
display: none;
}
.main_block .property_detail{
    display: flex;
    flex-wrap: nowrap;
}
.main_block .property_naime{
    width: 20%;
    color: #777;
    /* 14 bol */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}
.main_block .property_value{
     width: 80%;
    color: #333;
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 12px;
 }
.detail_tabs{
    margin-top: 30px;
}

.detail_tabs .nav-tabs a {
    border-radius: 8px 8px 0px 0px;
    background: rgba(235, 235, 235, 0.50);
    backdrop-filter: blur(17px);
    color: #333;
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    padding: 16px 28px;
}
.detail_tabs .nav-tabs li.active a{
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid var(--primary, #009B9A);
    background: rgba(0, 155, 154, 0.10);

    /* 2 */
    backdrop-filter: blur(17px);
    color: var(--primary, #009B9A);
    text-align: center;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    padding: 16px 28px;
}
.detail_tabs #FOURTH_TAB, .detail_tabs #REVIEWS, .detail_tabs #bay {
    margin-top: 24px;
}
.white_button{
    color: #009B9A!important;
    text-align: center;
    /* 16 bol */
    font-family: Ubuntu;
    font-size: 16px!important;
    font-style: normal;
    font-weight: 700!important;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    background-color: #ffffff!important;
    border-radius: 4px!important;
    border: 1px solid #E5E5E5!important;
    padding: 18px 16px!important;
    text-transform: none!important;
    max-width: 552px;
    width: 100%;
    margin-top: 40px!important;
}
.detail_tabs .description{
    color: #333;
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.detail_tabs h4{
    color: #333;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin: 24px 0 !important
}
h4.modal-title {
    color: #333;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}
.main_block .detail_tabs .gallery{

    margin: 0 0 24px 0;
}
.detail_tabs  .place{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}
.detail_tabs  .place .map{
    margin-top: 0px;
    margin-left: 12px;
}
.emplo {
    text-align: center;
    font-family: Ubuntu;
    color: #333;

}
.emplo .flex_block{
    display:flex;
    flex-wrap:wrap;
}
.emplo .item_flex{
    width:calc( ( 100%  ) / 4 );
margin-top: 12px;
}
.emplo img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.emplo .name_empl{
     font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.emplo .position_empl{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.emplo .speciality_empl{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
#REVIEWS .add_reviews {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
#REVIEWS .bb {
    border-radius: 4px;
    background: #009B9A;
    color: #F7F7F7;
    text-align: center;
    font-family: Ubuntu;
    text-transform:none!important;
    font-size: 14px;
    padding: 5px 15px!important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}
#reviews_dev{
    margin-bottom: 24px;
}
#reviews_dev h4{
    margin: 24px 0 10px 0 !important;
}
#reviews_dev .rating {
    height: 20px;
    margin: 10px 0px 10px;
    display: block;
}
.list_reviews_top h4 {
    color: #333;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0!important;
}
.list_reviews_top, .list_reviews_botttom {
    display: flex;
    justify-content: space-between;
}
.content_review {
    color: #777;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 24px 0;
}
.list_reviews_botttom .name{
    color: #333;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.list_reviews_botttom .date{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.border_line{
    margin: 16px 0 24px;
    border-bottom: 1px solid #AFB2B6;
}
.price_block .price-col{
    display: flex;
    justify-content: space-between;
}

.price_block .price-row-flex{
    display: flex;
}
.price_block .left_price{
    max-width: 60%;
}
.price_block .product_name{
    color: #333;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 11px;
}
.price_block .price_date{
margin-bottom: 2px;
}
.price_block .price_date, .price_block  .days{
    color: #333;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}
.price_block .price_date span, .price_block .days span{
    font-weight: 700;
}
.price_block .price_desc{
    margin-top: 11px;
    color:#777;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.price_block .price_desc.hide_desc{
    height: 40px;
}

.price_block{
    border-bottom: 1px solid #AFB2B6;
    padding: 24px 16px;
    margin-bottom: 24px;
}
.price_block .price_count_day{
    color: #333;
    /* 16 bol */

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-right: 24px;
}
.price_block .price_count_day span{
    font-weight: 400;
}
.price_block .base_sale_price{
    color: #333;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-right: 24px;
}
.price_block .base_price{
    color: #777;
    opacity: 0.5;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.2px;
    text-decoration: line-through;
}
.price_block .sale_price {
    color: #FFF;
    /* 16 reg */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    text-align: right;
    border-radius: 4px;
    background: #FF773C;
    padding: 2px 8px;
    margin: 20px 0;
}
.price_block .sale_block{
    display: flex;
    justify-content: flex-end;

}
.price_block .right_price a{
    padding: 18px 16px;
    color: #F7F7F7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    border-radius: 4px;
    background:#009B9A;
    width: 240px;
    margin-top: 18px;
    text-transform: none!important;
}
.price_block .buy_button{
    display: flex;
    justify-content: flex-end;
}
.price_block .sale_lag{
    color: #FF773C;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    padding-left: 5px;
}
.price_block .point_border{
    border-bottom: 1px solid #777;
    border-bottom: 2px dotted #777;
    height: 17px;
    flex: 1 0 auto;
}
.right_price .text_l{
    color: #777;
    font-family: Ubuntu;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 16px; */
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    padding-right: 5px;
}
.show_text{
    display: none;
}
.show_link {
    display: block;
}
.show_text {
    color: #009B9A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    border-radius: 8px;
    background: rgba(0, 155, 154, 0.10);
    backdrop-filter: blur(17px);
    margin-top: 11px;
    padding: 1px 8px;
    display: inline-block;
    cursor: pointer;
}
.price_ajax .goc{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;
    margin-bottom: 8px;
}
.price_ajax .goc:after {
    content: "";
    background-image: url("../images/icons/gos.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height:20px;
    top: 0px;
    margin-left: 4px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.price_ajax .certificate{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;
    margin-bottom: 8px;
}
.price_ajax .certificate:after {
    content: "";
    background-image: url("../images/icons/sert.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height:20px;
    top: 0px;
    margin-left: 4px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.price_ajax .thwer a{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;

}
.price_ajax .thwer a:hover{
    color: #009B9A;
}
.price_ajax .thwer{margin-bottom: 24px;}
.price_ajax .thwer a:after {
    content: "";
    background-image: url("../images/icons/desh.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height:20px;
    top: 0px;
    margin-left: 4px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.price_ajax .sale_s{
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}
.price_ajax .price_s {
    color: #777;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.2px;
    text-decoration: line-through;
    opacity: 0.5;
}
.price_ajax .sale_p{
    color: var(--Black, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}
.price_ajax .sale_p span {
    font-weight: 400;
}
.price_ajax .sale_pb{
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    border-radius: 4px;
    background: #FF773C;
    padding: 2px 8px;
}
.price_ajax .days{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}
.price_ajax .text_l{
    color: #777;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    padding-right: 5px;
}
.price_ajax .price_l{
    color:#FF773C;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    padding-left: 5px;
}
.price_ajax .point_border{
    border-bottom: 2px dotted #777;
    height: 17px;
    flex: 1 0 auto;
}
.price_ajax{
    margin-bottom: 12px;
}
a.about{
    color: #F7F7F7!important;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    border-radius: 4px;
    background: #009B9A;
    padding: 18px 16px;
    width: 100%;
    margin-top: 16px;
    text-transform: none!important;
}
#cheaper .form_head, #reservation .form_head{
    display: none;
}
.modal-body  div.text_before{
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin: 0 0 28px 0;
}
.modal-body .lager_name{
    color: #009B9A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.form_flex{
    display: flex;
    flex-wrap:wrap;
    color:#333;
    margin-bottom: 3px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}
.form_flex .lager{
    width: 20%;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
}
.lager_price{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 80%;
}
.lager_real_price{
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.2px;
    flex: 1 0 auto;
}
.lager_base_price{
    width: 18%;
    color: #777;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-decoration: line-through;
    opacity: 0.5;
    flex: 0 0 auto;
}
.lager_sale_price {
    width: 22%;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 4px;
    background: #FF773C;
    padding: 2px 8px;
    flex: 0 0 auto;
    margin-left: 34px;
}
ul.price_property_button {
    margin: 16px 0 0;

}
ul.price_property_button li{
color: #333;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.2px;
    position: relative;
    padding-left: 8px;
}
ul.price_property_button > li:before {
    content: ""!important;
    background-image: url(../images/icons/tick.svg);
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.for_map{
    width: 802px;
}
.for_map .modal-body, #myModal .modal-body{
    padding: 0;

}
.modal-header {
    padding: 10px;
}
.for_map .modal-content {
    height: 543px;
}
@media (min-width: 1200px) {
    .detail_page{
        position: relative;

    }

.detail_page:before {
    content: "";
    top: 1000px;
    right: -10%;
    background-image: url(../images/wooden-toy.png);
    width: 500px;
    height: 482px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    }
}
.service_catalog{
    margin: 0;
}
.catalog_top_setting{
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -70px;

}
.catalog_top_setting .find_elements{
    width: 100%;
    color: #333;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}
.catalog_top_setting .text-right {
width: 200px;
    text-align: left;
}
.page-top > div:last-of-type {
    width: 70%;
}
.service_catalog .news-item{
    border-radius: 8px;
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin-bottom: 24px;
    background: #fff;
}
@media (min-width: 992px) {
    .service_catalog  .col-md-3.catalog_col {
        width: 22%;
    }
}
@media (min-width: 992px) {
    .service_catalog .col-md-9.catalog_col {
        width: 78%;
    }
}
.detail_page .main_block .top_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-row .favorite span {
    color: var(--Black, #333);
    /* 14 reg */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}
.catalog-row .favorite span:after {
    content: "";
    background-image: url("../images/icons/favorite.svg") ;
    background-position: center;
    justify-content: center;
    align-items: center;

    border-radius: 27px;
    width: 30px;
    height:30px;
    top: -4px;
    right: 0px;
    transition: 0.5s;
    position: absolute;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    background-repeat: no-repeat;
}
.catalog-row .favorite span:hover:after, .catalog-row .favorite span.active_d:after{
    content: '';
    background-image: url("../images/icons/favorite_hover.svg") ;
    background-color: #F5F5F5;
}
.catalog-row  .gallery{
    position: relative;
}
.catalog-row .main_favorites{
    position: absolute;
    right: 12px;
    top: 12px;
}
.catalog-row .favorite{
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 100%;
}
.img_items a{
    width: calc( ( 100% - 8px) / 3 );
    margin-bottom: 4px;
    margin-right: 4px;
}
.img_items a:nth-child(3n){
    margin-right: 0;
}
.catalog-row .title{
    color:#333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
    margin-bottom: 12px;
}
.catalog-row .address div {
    position: relative;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-left: 25px;
    margin-bottom: 6px;
}
.catalog-row .address div:before {
    content: "";
    background-image: url(../images/icons/location2.svg);
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.catalog-row .age div {
    position: relative;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-left: 25px;
    margin-bottom: 6px;
}
.catalog-row .age div:before {
    content: "";
    background-image: url(../images/icons/people.svg);
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 20px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    position: absolute;
    background-repeat: no-repeat;
}
.rating polygon:hover {
    cursor: pointer;
    transition: 500ms;
}
.rating polygon:hover {
    fill: black;
}
.rating polygon {
    fill: lightgray;
}
.rating polygon.active {
    fill: #01afae;
}
.catalog-row .reviews .count_rating{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-right: 4px;
}
.catalog-row .reviews .count_reviews{
    color: #333;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.catalog-row .reviews .vote{
    display: flex;
}
.catalog-row .reviews .rating {
    margin-right: 2px;
}
.catalog-row  .fast_answer div {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.catalog-row .fast_answer div:before {
    background-image: url(../images/icons/mailbox.svg);
}
.catalog-row .fast_answer div, .catalog-row .fast_travel  {
    padding-left: 25px;
    margin-bottom: 6px;
}
.catalog-row .intro-text{
    margin-top: 12px;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.catalog-row .prop{
    color:#777;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    flex: 0 0 auto;
    width: 120px;
}
.catalog-row .prop_desc{
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    flex: 1 0 auto;
}
.flex_boxs{
    display: flex;
    margin-bottom: 8px;
}
.bx_filter .bx_filter_select_arrow, .common_select .common_select-link .trigger {
    background: #fafafa;
}
.bx_filter .bx_filter_select_block, .common_select .common_select-link {
    overflow: hidden;
}
.catalog-row .reviews {
    margin-bottom: 6px;
}
.catalog-row #productitem{
    padding-left: 0;
}
.catalog-row .sale_price{
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 4px;
    background: #FF773C;
    padding: 2px 8px;
}

.cat_items:before {
    content: "";
    bottom: -140px;
    left: 0px;
    background-image: url(../images/wooden-toy.png);
    width: 500px;
    height: 482px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.catalog-row .show_con{
    position: relative;
}
.catalog-row .show_con:after {
    content: '';
    background: rgb(0 0 0 / 40%);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.catalog-row .show_con span {
    display: block!important;
}
.catalog-row a span {
    z-index: 2;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0 20%;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 20%;
}
#filter_d .bx-filter-parameters-box{
    padding: 0;
    border-radius: 2px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    margin-bottom: 8px;
}
#filter_d .bx-filter-parameters-box-title {

    padding: 14px 18px;
}

#filter_d .bx-active .bx-filter-parameters-box-title {
    background: rgba(0, 155, 154, 0.10);

}

#filter_d .bx-active {
    background: #FAFAFA;
}

#filter_d .bx-filter-parameters-box-title span {
    color: #333;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 133.333% */
    letter-spacing: 0.2px;
    cursor: pointer;
    width: 100%;
    display: block;
    border: none;
}
#filter_d .bx-active .bx-filter-parameters-box-title span {
    color: #009B9A;
}
#filter_d  .bx-filter-parameters-box-title span:hover {
    border: none;
}
#filter_d .arrow{
    position: relative;
}
#filter_d .arrow:after {
    content: "";
    position: absolute;
    top: -13px;
    right: -5px;
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/maki_triangle.svg);
    transition: 0.5s;

}
#filter_d .bx-active .arrow:after {
    /*transform: rotate(180deg);*/
    background-image: url(../images/icons/maki_triangle2.svg);
}
#filter_d .bx_filter_input_checkbox{
    margin-left: 10px!important;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    /*display: inline-block;*/
    /*width: 0.7em;*/
    /*height: 0.7em;*/
    /*flex-shrink: 0;*/
    /*flex-grow: 0;*/
    /*border: 1px solid #EBEBEB;*/
    /*border-radius: 6px!important;*/
    /*margin-right: 0.5em;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: 50% 50%;*/

}

.bx_filter_vertical input[type="checkbox"] + label:after, .filter input[type="checkbox"] + label:after, .bg_block:after{
    height: 20px!important;
    width: 20px!important;
    border-radius: 6px!important;
    border: 1px solid #EBEBEB!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
}
.bx_filter_vertical input[type="checkbox"]:checked + label:after, .filter input[type="checkbox"]:checked + label:after {
    box-shadow: none;
    border: none!important;
    margin: 5px 0px 0px 5px!important;
    width: 11px!important;
    height: 10px!important;
    border-radius: 6px!important;
}


.bx_filter_vertical input[type="checkbox"] + label:before, .filter input[type="checkbox"] + label:before, .filter input[type="radio"] + label:before, .bg_block:before {
    font-size: 0;
    content: ".";
    display: none;
    position: absolute;
    left: 1px;
    top: 0px;
    background: #ddd;
    z-index: -1;
    height: 20px!important;
    width: 20px!important;
    border-radius: 6px!important;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
.bx-filter .bx-filter-button-box .bx-filter-block, .bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block {
    display: block;
    padding-top: 15px;
}
.bx-filter .bx-filter-select-container{
    margin: 0 10px;
}
.bx-filter ul:not([id*="bx_"]) > li:before {
    content: ""!important;
    margin: 0!important;
}
div[id^=smartFilterDropDown]{
    max-width: 249px!important;
}
.bx-filter-select-popup ul > li {
    margin: 5px!important;
    list-style-type: none;
    position: relative;
}
button#view_map{
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    color: #009B9A;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    width: 100%;
    padding: 12px;
    background: #fff;
}
.bx-filter-button-box{
    padding: 0;
}
.bx-filter-parameters-box-container {
    padding-bottom: 10px;
}
.register_one .subtitle{
    margin-top: -8px;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 24px;
}
.register_one .title{
    color: #009B9A;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}
.register_one .desc{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}
.register_one label{
    color:#333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-top: 24px;
    margin-bottom: 4px;
}
.register_one label span{
    color: #E32521;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.register_one input[type="text"].form-control, .register_one input[type="email"].form-control{
    padding: 5px 16px 6px;
    width: 100%;
    height: 38px;
}
.register_one input[type="text"], .register_one input[type="password"], .register_one input[type="email"], .register_one input[type="tel"], .register_one select, .register_one textarea {
    background: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    box-shadow: none;
    color: #383838;
    height: auto;
    font-size: 14px;
}
.register_one ::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
    color: #AFB2B6;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}
.register_one :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
    color: #AFB2B6;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}
.register_one ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
    color: #AFB2B6;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}
.register_one :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
    color: #AFB2B6;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}
.birthday_field img.calendar-icon {
    position: absolute;
    right: 8px;
    top: 9px;
}
img.calendar-icon-hover {
    margin: 0;
    margin-left: 1px;
    border: 1px solid #aeb6c200;
    background-color: #dbe3f200;
}

.register_one .text-bottom-form{
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin: 13px 0;
}
.register_one .text-bottom-form span{
    color: #E32521;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.register_one .next_button{
    color: #F7F7F7;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    padding: 18px 16px;
    border-radius: 4px;
    background:#009B9A;
    margin-top: 11px;
    margin-bottom: 110px;
}
.register_one {
    font-family: 'Ubuntu';
    position: relative;
}
@media (min-width: 1200px) {
    .register_one:before{
        content: "";
        top: -8%;
        right: 10%;
        background-image: url(../images/wooden-toy-reg.png);
        width: 500px;
        height: 482px;
        z-index: 0;
        position: absolute;
        background-repeat: no-repeat;
    }
    .register_one:after{
        content: "";
        bottom: -50px;
        right: 10%;
        background-image: url(../images/superhero-woman.png);
        width: 522px;
        height: 458px;
        z-index: 0;
        position: absolute;
        background-repeat: no-repeat;
    }
    .register_one #reg_form:before{
        content: "";
        top: 15%;
        right: 6%;
        background-image: url(../images/toys.png);
        width: 200px;
        height: 220px;
        z-index: 0;
        position: absolute;
        background-repeat: no-repeat;
    }
}
.register_one input.error_input {
    border-color: rgba(217, 81, 81, 0.40);
}
.register_children {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: Ubuntu;
}
.register_children .subtitle {
    margin-top: -8px;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
}
.register_children .title {
    color: #009B9A;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}
.register_children .desc {
    color: #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}
.register_children .tab_menu{
margin: 40px 0 24px;
}
.register_children .tab_menu ul {
    padding: 0;
    margin: 0;
    display: flex;
}
.register_children .tab_menu ul:not([id*="bx_"]) > li:before {
    content: " ";
    margin: 0;
}
.register_children .tab_menu ul > li {
    margin: 0;
    list-style-type: none;
    float: none;
    border-radius: 8px 8px 0px 0px;
    background: rgba(235, 235, 235, 0.50);
    backdrop-filter: blur(17px);
    color: #333;
    padding: 10px 24px;
    margin-right: 4px;
    letter-spacing: 0.2px;
    cursor: pointer;
    border-bottom: 2px solid rgba(235, 235, 235, 0.50);
}
.register_children .tab_menu ul > li.active {
    color: #009B9A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 142.857% */
    letter-spacing: 0.2px;
    background: rgba(0, 155, 154, 0.10);
    border-bottom: 2px solid var(--primary, #009B9A);
    backdrop-filter: blur(17px);
}
.register_children .tab_menu ul > li.addtab div{
    position: relative;
    top: 3px;
}
.register_children .close_tab{
    position: relative;
    left: -21px;
    top: 3px;
    color: var(--primary, #009B9A);
    font-weight: 700;
    letter-spacing: 0.2px;
    cursor: pointer;
    height: 14px;
    padding: 0px 3px;
    border-radius: 100%;

    line-height: 13px;
}
.register_children .close_tab:hover{
    background: #fff;
}
.register_children input.error_input {
    border-color: rgba(217, 81, 81, 0.40);
}
.register_children img.calendar-icon {
    vertical-align: top;
    cursor: pointer;
    width: 17px;
    height: 18px;
    margin: 0 0 0 1px;
    box-sizing: content-box;
    border: 1px solid transparent;
    position: absolute;
    top: 38px;
    right: 14px;
}

.filter_link{
    color: #333;
    line-height: 14px;
    margin: 0px 0px 3px;
    font-size: 13px;
    margin-left: 20px;
}
.filter_link.active_link{
    font-weight: 700;
}


.register_children .form-group > .form-check-label{
    color:#333;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.register_children .form-group > .form-check-label span{
    color: #D95151;
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.register_children .radio:first-child{
    padding-left: 0px;
    margin-top: 8px;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    /*border-color: #008F8E;*/
    background-image: url("../images/icons/radio.svg");
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
    background-color: #ffffff;
    /*border-color: #008F8E;*/
}
.custom-radio:not(:disabled):active+label{
    color: #333;
}
/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus+label::before {
    /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:checked+label {
    color: #333;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
    /*border-color: #008F8E;*/
    background-color: #008F8E;
    background-image: url("../images/icons/radio.svg");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
    background-color: #e9ecef;
}

.radio-flex{
    display: flex;
    align-items: baseline;
}
.col-form {
    max-width: 590px;

}
.col-form > div {
    margin-bottom: 25px;
}
.col-form label{
    color:#333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}
.col-form label span{
    color: #D95151;
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}
.col-form input[type="text"]{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    background: #fff;
    padding: 10px 16px!important;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
}
.col-form input[type="text"]::placeholder {
    color: #AFB2B6;
}
.block_radio{
    margin-bottom: 33px;
}
.register_children .tab{

    font-family: Ubuntu;
    z-index: 3;

    float: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
.register_children .form_title{
    color: #333;
    font-size: 20px;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.register_children .form_subtitle{
    color: #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 8px;

}
.register_children .check_title{
    margin-top: 40px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.2px;
    margin-bottom: 2px;
}
.register_children .check_subtitle{
    color: #777;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    opacity: 0.5;
}
/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff00;

    border: none;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {

    border: none;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
    /*border-color: #0b76ef;*/
    /*background-color: #0b76ef;*/
    background-image: url("../images/icons/checkbox.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
.form-check .form-check-label{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.custom-checkbox:checked+label{
    color: #333;
}
.register_children .checkbox {
    margin-bottom: 12px;
    padding-left: 0;
}
.error_check{
    color: rgb(217 81 81)!important;
}
.register_children input.error_input {
    border-color: rgba(217, 81, 81, 0.40)!important;
}
.input_flex {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.input_flex input[type="text"].form-control{
    padding: 11px 18px;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 1px solid #EBEBEB;
    margin-bottom: 24px;
}
.input_flex input[type="text"]::-webkit-input-placeholder {
    color: #AFB2B6;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}
.input_flex label{
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 4px;
}
.input_flex .form-group:first-child input[type="text"].form-control{
    border-radius: 2px 0 0 2px;
    border-right: none;
}
.input_flex .form-group:nth-child(2) input[type="text"].form-control:nth-child(2){
    border-radius: 0;

}
.input_flex .form-group:nth-child(3) input[type="text"].form-control:nth-child(2){
    border-radius: 0 2px 2px 0;
    border-left: none;

}
.input_flex .form-group {
    flex: 1 1;
}
#reg_form_button{
    width: 100%;
    border-radius: 4px;
    background: #009B9A;
    color: #F7F7F7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    max-width: 840px;
    padding: 18px 16px;
    margin-top: 17px;
}
.add_ch:before{
    content: "";
    top: 0%;
    right: 0%;
    background: url("../images/colorful.svg");
    width: 465px;
    height: 334px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.container_reg{
    padding: 0px 30px;
    margin: 0 auto;
    max-width: 1408px;
}
.container_form{
    max-width: 840px;
}
.first_block, .second_block, .third_block{
    position: relative;
}
.first_block:before{
    content: "";
    top: 0%;
    left: 0%;
    background: url("../images/travel-planning.svg");
    width: 150px;
    height: 456px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.first_block:after{
    content: "";
    bottom: 0%;
    right: 0%;
    background: url("../images/school-concept.png");
    width: 278px;
    height: 415px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.second_block:before{
    content: "";
    top: 0%;
    left: 0%;
    background: url("../images/assortment.png");
    width: 216px;
    height: 248px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.second_block:after{
    content: "";
    bottom: 0%;
    right: 0%;
    background: url("../images/stars.png");
    width: 363px;
    height: 278px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.third_block:before{
    content: "";
    bottom: -63%;
    left: 0%;
    background: url("../images/girld.png");
    width: 170px;
    height: 348px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.third_block:after{
    content: "";
    bottom: 0%;
    right: 0%;
    background: url("../images/bear.png");
    width: 181px;
    height: 212px;
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.register_one .row .col-md-6 .row .col-md-6:nth-child(6){
    display: none;
}
.register_one .row .col-md-6 .row .col-md-6:nth-child(7){
    /*display: none;*/
}